{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette justify-content-center {{ with $page.Params.align }}align-items-{{ . }}{{ end }}">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1><a href="{{ $page.Params.url | relLangURL }}">{{ . | markdownify | emojify }}</a></h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
    {{ $pack_prefix = "fa" }}
  {{ end }}
  <div class="col-12 col-sm-4 my-3">
  {{ if .icon }}
    <div class="featurette-icon"><a href="{{ .url | relLangURL }}"><i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i></a></div>
  {{ end }}
  {{ if .image }}
    <div class="featurette-image"><a href="{{ .url | relLangURL }}"><img src="{{ .image | relLangURL }}"></a></div>
  {{ end }}
    <h3><a href="{{ .url | relLangURL }}">{{ .name | markdownify | emojify }}</a></h3>
    {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Params.url }}
  <div class="col-12 col-sm-4 see-all">
    <a href="{{ . | relLangURL }}">
      {{ i18n "more_pages" | default "See all" }}
      <i class="fas fa-angle-right"></i>
    </a>
  </div>
  {{ end }}

</div>
