{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

{{ if (or (eq $.Params.view 3) (not $.Params.view)) }}
<div class="container"><div class="row">
{{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ if eq $.Params.view 1 }}
      {{ partial "li_list" . }}
    {{ else if eq $.Params.view 2 }}
      {{ partial "li_compact" . }}
    {{ else }}
      {{ partial "li_card" (dict "page" . "columns" $.Params.columns) }}
    {{ end }}
  {{ end }}

{{ if eq $.Params.view 3 }}
</div></div>
{{ end }}

  {{ partial "pagination" . }}

</div>

{{- end -}}
